<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlt.datasync.mapper.pms.JltJobMapper">
    <resultMap type="com.jlt.datasync.domain.JltJob" id="jltJobResultMap">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="jobName" column="job_name"/>
        <result property="isEnableSaas" column="is_enable_saas"/>
        <result property="isEnableUpm" column="is_enable_upm"/>
        <result property="isEnablePms" column="is_enable_pms"/>
        <result property="lastExecSuccessTime" column="last_exec_success_time"/>
        <result property="lastExecResult" column="last_exec_result"/>
        <result property="creator" column="creator"/>
        <result property="createName" column="create_name"/>
        <result property="createTime" column="create_time"/>
        <result property="modifier" column="modifier"/>
        <result property="modifyName" column="modify_name"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>
    <sql id="select">
		<![CDATA[

			SELECT
					id,
					tenant_id,
					job_name,
					is_enable_saas,
					is_enable_upm,
					is_enable_pms,
					last_exec_success_time,
					last_exec_result,
					creator,
					create_name,
					create_time,
					modifier,
					modify_name,
					modify_time

        ]]>
	</sql>

    <sql id="findByExample">
        WHERE 1=1
        <if test="id!=null">AND ID = #{id}</if>
    </sql>

    <select id="findOne" resultMap="jltJobResultMap" parameterType="com.jlt.datasync.condition.JltJobCondition">
        <include refid="select"/>
        from jlt_job
        <include refid="findByExample"/>
    </select>

    <update id="update" parameterType="com.jlt.datasync.condition.JltJobCondition">
        update jlt_job
        set last_exec_result= #{lastExecResult},
        <if test='lastExecResult!=null and lastExecResult == "Y"'>last_exec_success_time = #{lastExecSuccessTime},</if>
        msg = #{msg}
        <include refid="findByExample"/>
    </update>
</mapper>
