<aside id="sidebar" class="open">
  <div id="sidebar-left">
    <a id="sidebar-avatar" href="{{ "/" | prepend: site.baseurl }}">
      <img id="sidebar-avatar-img" alt="{{ site.tittle }}" src="{{ site.avatar | prepend: site.baseurl }}"/>
    </a>

    <div id="sidebar-social">
      <a href="mailto:{{ site.email }}" class="sidebar-social-icon email"></a>
      {% include social.html %}
    </div>

    <ul id="sidebar-tags">
      <li class="sidebar-tag active" data-filter="recent">最新文章</li>
      {% if site.filter == 'category' %}
        {% for category in site.categories %}
          <li class="sidebar-tag" data-filter="{{ category | first }}">{{ category | first }}</li>
        {% endfor %}
      {% elsif site.filter == 'tag' %}
        {% for tag in site.tags %}
          <li class="sidebar-tag" data-filter="{{ tag | first }}">{{ tag | first }}</li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>

  <div id="sidebar-right">
    <div id="search-box">
      <input id="search-input" type="text" placeholder="Search" />
    </div>

    <nav id="toc">
      {% if site.filter == 'category' %}
        {% for post in site.posts %}
          <a class="toc-link" data-tags="{{ post.categories | join: ' ' }}" href="{{ post.url }}">
            {{ post.title }}
          </a>
        {% endfor %}
      {% elsif site.filter == 'tag' %}
        {% for post in site.posts %}
          <a class="toc-link" data-tags="{{ post.tags | join: ' ' }}" href="{{ post.url }}">
            {{ post.title }}
          </a>
        {% endfor %}
      {% endif %}
    </nav>
  </div>
</aside>

<!-- JiaThis Button BEGIN -->
<div class="jiathis_share_slide jiathis_share_32x32" id="jiathis_share_slide">
    <div class="jiathis_share_slide_top" id="jiathis_share_title"></div>
    <div class="jiathis_share_slide_inner">
        <div class="jiathis_style_32x32">
            <a class="jiathis_button_cqq"></a>
            <a class="jiathis_button_weixin"></a>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_tqq"></a>
            <a class="jiathis_button_qzone"></a>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2155305" charset="utf-8"></script>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_slide.js" charset="utf-8"></script>
        </div></div></div>
<!-- JiaThis Button END -->
