<!-- Generate icon by yourself https://icomoon.io/app/#/select -->
{% if site.weibo %}
  <a href="http://www.weibo.com/{{ site.weibo }}" class="sidebar-social-icon weibo" target="_blank"></a>
{% endif %}

{% if site.github %}
  <a href="https://github.com/{{ site.github }}" class="sidebar-social-icon github" target="_blank"></a>
{% endif %}

<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1158575655&site=qq&menu=yes">
    <img border="0" src="http://wpa.qq.com/pa?p=2:1158575655:52" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</a>