---
layout: default
---


<!-- JiaThis Button BEGIN -->
<div class="jiathis_share_slide jiathis_share_32x32" id="jiathis_share_slide">
  <div class="jiathis_share_slide_top" id="jiathis_share_title"></div>
  <div class="jiathis_share_slide_inner">
    <div class="jiathis_style_32x32">
      <a class="jiathis_button_cqq"></a>
      <a class="jiathis_button_weixin"></a>
      <a class="jiathis_button_qzone"></a>
      <a class="jiathis_button_tsina"></a>
      <a class="jiathis_button_tqq"></a>
      <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
      <script type="text/javascript">
        var jiathis_config = {data_track_clickback:'true'
          ,slide:{
            divid:'jiathis_main',
            pos:'right'
          }
        };
      </script>
      <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2155305" charset="utf-8"></script>
      <script type="text/javascript" src="http://v3.jiathis.com/code/jiathis_slide.js" charset="utf-8"></script>
    </div></div></div>
<!-- JiaThis Button END -->

<article class="post container">
  <div class="post-meta">
    <span class="post-meta-span date">{{ page.date | date:"%Y %B %d" }}</span>
    {% if page.tags.size > 0 %}
    <span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</article>

<div class="post-share">
  <div class="container">
    <a href="http://service.weibo.com/share/share.php?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}" target="_blank" class="post-share-icon weibo"></a>
  </div>
</div>