<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlt.datasync.mapper.saas.EtWaybillMapper">
    <resultMap type="com.jlt.datasync.domain.EtWaybill" id="etWaybillResultMap">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="waybillNo" column="waybill_no"/>
        <result property="vehicleNumber" column="vehicle_number"/>
        <result property="destinationAddress" column="destination_address"/>
        <result property="creator" column="creator"/>
        <result property="createName" column="create_name"/>
        <result property="createTime" column="create_time"/>
        <result property="modifier" column="modifier"/>
        <result property="modifyName" column="modify_name"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>
    <sql id="select">
		<![CDATA[

			SELECT
					id,
					tenant_id,
					waybill_no,
					vehicle_number,
					CONCAT(destination_province_name,destination_city_name,destination_area_name,destination_detail_address) destination_address,
					creator,
					create_name,
					create_time,
					modifier,
					modify_name,
					modify_time

        ]]>
	</sql>

    <sql id="findByExample">
        WHERE 1=1
        <if test="id!=null">AND ID = #{id}</if>
        <if test="tenantId!=null">AND tenant_id = #{tenantId}</if>
        <if test="vehicleNumber!=null">AND vehicle_number = #{vehicleNumber}</if>
        <if test="waybillNo!=null and waybillNo !=''">AND waybill_no = #{waybillNo}</if>
    </sql>

    <select id="findOnWayList" resultMap="etWaybillResultMap" parameterType="com.jlt.datasync.condition.EtWaybillCondition">
        <include refid="select"/>
        from et_waybill_info
        where waybill_status = 40
        and vehicle_number <![CDATA[!= ]]> ''
        and consigner_id = #{tenantId}
        and tenant_id in (
        select carrier_id from cd_carrier_config where bind_type=2 and tenant_id = #{tenantId}
        )
        limit 1000
    </select>
</mapper>
