<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlt.datasync.mapper.saas.EtWaybillExceptionMapper">
    <resultMap type="com.jlt.datasync.dto.EtWaybillExceptionDto" id="etWaybillExceptionModelResultMap">
        <result property="id" column="ID"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="exceptionNo" column="exception_no"/>
        <result property="waybillNo" column="waybill_no"/>
        <result property="exWaybillNo" column="ex_waybill_no"/>
        <result property="exceptionTime" column="EXCEPTION_TIME"/>
        <result property="exceptionBroadHeading" column="EXCEPTION_BROAD_HEADING"/>
        <result property="exceptionType" column="EXCEPTION_TYPE"/>
        <result property="exceptionStatus" column="EXCEPTION_STATUS"/>
        <result property="exceptionPlace" column="EXCEPTION_PLACE"/>
        <result property="exceptionRegistrant" column="EXCEPTION_REGISTRANT"/>
        <result property="exceptionRegisterTime" column="EXCEPTION_REGISTER_TIME"/>
        <result property="remark" column="REMARK"/>
        <result property="recStatus" column="REC_STATUS"/>
        <result property="recVer" column="REC_VER"/>
        <result property="creator" column="CREATOR"/>
        <result property="createName" column="CREATE_NAME"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="modifier" column="MODIFIER"/>
        <result property="modifyName" column="MODIFY_NAME"/>
        <result property="modifyTime" column="MODIFY_TIME"/>
        <result property="comfirmStatus" column="COMFIRM_STATUS"/>
        <result property="confirmor" column="CONFIRMOR"/>
        <result property="confirmTime" column="CONFIRM_TIME"/>
        <result property="signTime" column="sign_time"/>
        <result property="handleFlag" column="HANDLE_FLAG"/>
        <result property="gyHandleFlag" column="GY_HANDLE_FLAG"/>
        <result property="operatorPlace" column="OPERATOR_PLACE"/>
        <result property="gyExpectedReturnTime" column="GY_EXPECTED_RETURN_TIME"/>
        <result property="shipperName" column="shipper_name"/>
        <result property="companyName" column="company_name"/>
        <result property="consigneeName" column="consignee_name"/>
        <result property="originProvinceName" column="origin_province_name"/>
        <result property="originCityName" column="origin_city_name"/>
        <result property="destinationProvinceName" column="destination_province_name"/>
        <result property="destinationCityName" column="destination_city_name"/>
        <result property="transportType" column="transport_type"/>
        <result property="transportMode" column="transport_mode"/>
        <result property="isReturnGoodsEarlyWarning" column="is_return_goods_early_warning"/>
        <result property="isReturnGoodsAlarm" column="is_return_goods_alarm"/>
        <result property="auditTime" column="audit_time"/>
        <result property="isException" column="is_exception"/>
        <result property="lastNoticeSettingId" column="last_notice_setting_id"/>
        <result property="exceptionContent" column="exception_content"/>
    </resultMap>

    <select id="getExceptions" resultMap="etWaybillExceptionModelResultMap" parameterType="java.util.List">
        SELECT
            ex.id,
            ex.waybill_no,
            ex.exception_time,
            info.shipper_name,
            info.company_name,
            info.consignee_name,
            info.origin_province_name,
            info.origin_city_name,
            info.destination_province_name,
            info.destination_city_name,
            info.transport_type,
            info.transport_mode,
            DATE_FORMAT(ext.pickup_time, '%Y-%m-%d %H:%i:%s') pickup_time,
            DATE_FORMAT(ext.sign_time, '%Y-%m-%d %H:%i:%s') sign_time
        FROM
            et_waybill_exception ex
        INNER JOIN et_waybill_info info ON ex.waybill_no = info.waybill_no
        LEFT JOIN et_waybill_info_ext ext on info.waybill_no = ext.waybill_no
        WHERE
            1 = 1
        AND ex.exception_type = 'SIGN'
        AND ex.exception_sub_type = 'Return'
        AND ex.GY_EXPECTED_RETURN_TIME IS NULL
        OR EXISTS (
            SELECT
                1
            FROM
                et_waybill_exception_detail det
            WHERE
                det.exception_no = ex.exception_no
            AND ex.exception_type = 'SIGN'
            AND ex.exception_sub_type = 'Return'
            AND det.exception_type = 'Return'
            AND ex.GY_EXPECTED_RETURN_TIME IS NULL
        )
        LIMIT 200
    </select>

    <update id="batchUpdateGyExceptionReturnTime" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE et_waybill_exception SET
            GY_EXPECTED_RETURN_TIME = #{item.gyExpectedReturnTime},
            MODIFY_TIME = SYSDATE()
            WHERE id =#{item.id}
        </foreach>
    </update>
    <update id="batchUpdateIsWarningOrAlarm" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE
            et_waybill_exception
            SET
            <if test="item.isReturnGoodsEarlyWarning != null and item.isReturnGoodsEarlyWarning != ''">
                is_return_goods_early_warning = #{item.isReturnGoodsEarlyWarning},
            </if>
            <if test="item.isReturnGoodsAlarm != null and item.isReturnGoodsAlarm != ''">
                is_return_goods_alarm = #{item.isReturnGoodsAlarm},
            </if>
            MODIFY_TIME = SYSDATE()
            WHERE
            exception_no = #{item.exceptionNo}
        </foreach>
    </update>
    <update id="batchUpdateLastNoticeSettingId" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE
            et_waybill_exception
            SET
            last_notice_setting_id = #{item.lastNoticeSettingId},
            MODIFY_TIME = SYSDATE()
            WHERE
            id =#{item.id}
        </foreach>
    </update>

    <select id="getExceptionByCondition" resultMap="etWaybillExceptionModelResultMap"
            parameterType="com.jlt.datasync.condition.EtWaybillExceptionCondition">
        SELECT
        id,
        tenant_id,
        waybill_no,
        EXCEPTION_TIME,
        exception_type_name EXCEPTION_BROAD_HEADING,
        exception_sub_type_name EXCEPTION_TYPE,
        -- EXCEPTION_STATUS,
        exception_address EXCEPTION_PLACE,
        register_person EXCEPTION_REGISTRANT,
        register_time EXCEPTION_REGISTER_TIME,
        exception_remark REMARK,
        GY_HANDLE_FLAG,
        is_exception
        FROM et_waybill_exception
        WHERE 1=1
        <if test="startTime!=null and startTime!=''">
            AND DATE_FORMAT(EXCEPTION_TIME,'%Y-%m-%d %H:%i:%s') &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            AND DATE_FORMAT(EXCEPTION_TIME,'%Y-%m-%d %H:%i:%s') &lt;= #{endTime}
        </if>
        <if test="waybillNos!=null and waybillNos.size>0">
            AND waybill_no IN
            <foreach collection="waybillNos" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO et_waybill_exception (
        id,
        tenant_id,
        exception_no,
        waybill_no,
        ex_waybill_no,
        exception_type,
        exception_type_name,
        exception_content,
        waybill_status,
        exception_time,
        creator,
        create_name,
        create_time
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.tenantId},
            #{item.exceptionNo},
            #{item.waybillNo},
            #{item.exWaybillNo},
            #{item.exceptionType},
            #{item.exceptionTypeName},
            #{item.exceptionContent},
            #{item.waybillStatus},
            #{item.exceptionTime},
            #{item.creator},
            #{item.createName},
            SYSDATE()
            )
        </foreach>
    </insert>

    <select id="findReturnList" resultMap="etWaybillExceptionModelResultMap"
            parameterType="com.jlt.datasync.condition.EtWaybillExceptionCondition">
        SELECT
        ex.id,
        ex.waybill_no,
        ex.exception_no,
        ex.exception_time,
        ex.is_return_goods_early_warning,
        ex.is_return_goods_alarm,
        ex.audit_time
        FROM
        et_waybill_exception ex
        WHERE
        (
            ex.exception_type = 'SIGN'
            AND ex.exception_sub_type = 'Return'
            OR EXISTS (
                SELECT
                1
                FROM
                et_waybill_exception_detail det
                WHERE
                det.exception_no = ex.exception_no
                AND ex.exception_type = 'SIGN'
                AND ex.exception_sub_type = 'Return'
                AND det.exception_type = 'Return'
            )
        ) AND ex.waybill_no = #{waybillNo}
    </select>

    <select id="findTemperatureList" resultMap="etWaybillExceptionModelResultMap"
            parameterType="com.jlt.datasync.condition.EtWaybillExceptionCondition">
        SELECT
        ex.id,
        ex.tenant_id,
        ex.waybill_no,
        ex.exception_no,
        DATE_FORMAT(ex.exception_time,'%Y-%m-%d %H:%i:%s') exception_time,
        ex.exception_content,
        ex.last_notice_setting_id
        FROM
        et_waybill_exception ex
        WHERE
        ex.exception_type='TEMPERATURE_EXCEEDED_ALARM'
        and ex.exception_type_name='温度超标'
        and ex.gy_handle_flag = 0
        and ex.exception_time is not null
        <if test="startTime!=null and startTime!=''">
            AND DATE_FORMAT(ex.EXCEPTION_TIME,'%Y-%m-%d %H:%i:%s') &gt;= #{startTime}
        </if>
        <if test="endTime!=null and endTime!=''">
            AND DATE_FORMAT(ex.EXCEPTION_TIME,'%Y-%m-%d %H:%i:%s') &lt;= #{endTime}
        </if>
    </select>

    <select id="findRejectException" resultMap="etWaybillExceptionModelResultMap"
            parameterType="com.jlt.datasync.condition.EtWaybillExceptionCondition">
        SELECT
        ex.id,
        ex.waybill_no,
        ex.exception_no,
        ex.exception_time,
        ex.is_return_goods_early_warning,
        ex.is_return_goods_alarm,
        ex.audit_time
        FROM
        et_waybill_exception ex
        WHERE
        (
            ex.exception_type = 'SIGN'
            AND ex.exception_sub_type = 'Reject'
            OR EXISTS (
                SELECT
                1
                FROM
                et_waybill_exception_detail det
                WHERE
                det.exception_no = ex.exception_no
                AND ex.exception_type = 'SIGN'
                AND ex.exception_sub_type = 'Reject'
                AND det.exception_type = 'Reject'
            )
        ) AND ex.waybill_no = #{waybillNo}
        limit 1
    </select>
</mapper>
