<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jlt.datasync.mapper.saas.GyPrescriptionSettingMapper">
    <resultMap type="com.jlt.datasync.domain.GyPrescriptionSetting" id="gyPrescriptionSettingModelResultMap">
        <result property="id" column="id"/>
        <result property="shipperId" column="shipper_id"/>
        <result property="shipperName" column="shipper_name"/>
        <result property="companyId" column="company_id"/>
        <result property="companyCode" column="company_code"/>
        <result property="companyName" column="company_name"/>
        <result property="consigneeId" column="consignee_id"/>
        <result property="consigneeName" column="consignee_name"/>
        <result property="originProvinceId" column="origin_province_id"/>
        <result property="originProvinceName" column="origin_province_name"/>
        <result property="originCityId" column="origin_city_id"/>
        <result property="originCityName" column="origin_city_name"/>
        <result property="destinationProvinceId" column="destination_province_id"/>
        <result property="destinationProvinceName" column="destination_province_name"/>
        <result property="destinationCityId" column="destination_city_id"/>
        <result property="destinationCityName" column="destination_city_name"/>
        <result property="transportType" column="transport_type"/>
        <result property="transportMode" column="transport_mode"/>
        <result property="arrivalPrescription" column="arrival_prescription"/>
        <result property="receiptUploadPrescription" column="receipt_upload_prescription"/>
        <result property="receiptReturnPrescription" column="receipt_return_prescription"/>
        <result property="thermometerReturnPrescription" column="thermometer_return_prescription"/>
        <result property="returnPrescription" column="return_prescription"/>
        <result property="recStatus" column="rec_status"/>
        <result property="recVer" column="rec_ver"/>
        <result property="creator" column="creator"/>
        <result property="createName" column="create_name"/>
        <result property="createTime" column="create_time"/>
        <result property="modifier" column="modifier"/>
        <result property="modifyName" column="modify_name"/>
        <result property="modifyTime" column="modify_time"/>
        <result property="departmentId" column="department_id"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

    <sql id="select">
        <![CDATA[


			SELECT
			id,
            shipper_id,
            shipper_name,
            company_id,
            company_code,
            company_name,
            consignee_id,
            consignee_name,
            origin_province_id,
            origin_province_name,
            origin_city_id,
            origin_city_name,
            destination_province_id,
            destination_province_name,
            destination_city_id,
            destination_city_name,
            transport_type,
            transport_mode,
            arrival_prescription,
            receipt_upload_prescription,
            receipt_return_prescription,
            thermometer_return_prescription,
            return_prescription,
            rec_status,
            rec_ver,
            creator,
            create_name,
            create_time,
            modifier,
            modify_name,
            modify_time,
            department_id,
            tenant_id


        ]]>
    </sql>

    <sql id="findByExample">
        WHERE 1=1
        <if test="id!=null">AND ID = #{id}</if>
        <if test="tenantId!=null">AND tenant_id = #{tenantId}</if>
        <if test="recStatus!=null">AND rec_status = #{recStatus}</if>
        <if test="recVer!=null">AND rec_ver = #{recVer}</if>
        <if test="creator!=null and creator!=''">AND creator = #{creator}</if>
        <if test="createName!=null and createName!=''">AND create_name = #{createName}</if>
        <if test="createTime!=null">AND create_time = #{createTime}</if>
        <if test="modifier!=null and modifier!=''">AND modifier = #{modifier}</if>
        <if test="modifyName!=null and modifyName!=''">AND modify_name = #{modifyName}</if>
        <if test="modifyTime!=null">AND modify_time = #{modifyTime}</if>
    </sql>
    <select id="findList" resultMap="gyPrescriptionSettingModelResultMap"
            parameterType="com.jlt.datasync.condition.GyPrescriptionSettingCondition">
        <include refid="select"/>
        FROM gy_prescription_setting
        <include refid="findByExample"/>
    </select>
</mapper>
